# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.env
.ipynb_checkpoints
profile_default/
ipython_config.py

# Node
node_modules/
npm-debug.log
yarn-error.log
.next/
dist/
build/

# OS
.DS_Store
Thumbs.db
